@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: Footer;
	src: url(Fonts/AguafinaScript-Regular.ttf);
}
#foot {
	font-family: Footer;
	font-size: 2em;
}
@font-face {
	font-family: kaushan;
	src: url(Fonts/KaushanScript-Regular.otf);
}
#kaushan {
	font-family: kaushan;
}
@font-face {
	font-family: monotype;
	src: url(Fonts/MTCORSVA.TTF);
}
#monotype {
	font-family: monotype;
}
#a {
	font-size: 2.5em;
	font-weight: bold;
}
@font-face {
	font-family: comicsansms;
	src: url(Fonts/comic.ttf);
}
@font-face {
	font-family: comicsansms;
	font-weight: bold;
	src: url(Fonts/comicbd.ttf);
}
#comic-ms {
	font-family: comicsansms;
}
@font-face {
	font-family: chaparral;
	src: url(Fonts/ChaparralPro-LightIt.otf);
}
#chaparral {
	font-family: chaparral;
}
@font-face {
	font-family: dancingscript;
	src: url(Fonts/DancingScriptOT.otf);
}
#only-for-homefront-and-the-crew-page {
	font-family: dancingscript;
	color: #C1BEBE;
}
#dancing-script {
	font-family: dancingscript;
}
#loading {
	font-size: 2em;
	font-weight: bold;
}
#only-for-the-crew-chaparral {
	font-family: chaparral;
	font-size: 1.25em;
}
